body{
    background: rgb(255, 123, 0);
}
h1{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    color: red;
    height: 60px;
    font-size: 60px;
}
p{
    text-align: center;
}
.boton{
    border: black solid 1px;
    text-align: center;
    padding: 30px 30px;
    margin-left:500px;
    margin-right: 500px;
}
.boton a{
    text-decoration: none;
}
.linea{
    background: red;
    position: absolute;
    height: 2px;
    width: 1%;
    left: 51%;
    top: 41%;
}