body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fondo{
    width: 100%;
    height: 100vh;
    background: radial-gradient(rgb(255, 123, 0),rgb(255, 51, 0));
}
p{
    position: absolute;
    text-align:center ;
    margin-top: 50px;
    margin-left: 25%;
    font-size: 40px;
}